<div class="pagetitle">
  <h1>VPNs</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item">Pages</li>
      <li class="breadcrumb-item active">Virtual private networks</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section profile">
  <div class="row">
    <div class="col-xl-4">

      <div class="card">
        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
          <h5 class="card-title">Create new VPN</h5>

          <!-- No Labels Form -->
          <form class="row g-3">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Name" aria-label="Name"
                aria-describedby="basic-addon2" ng-model="vpnModel.name">
            </div>
            <div class="col-md-12">
              <label class="form-label">Server</label>
              <select id="Type" class="form-control" ng-model="vpnModel.server">
                <option value="vpnModel.id" ng-repeat='server in servers.rows track by server.id'>{{server.location}} -
                  {{server.speed}}Mbits</option>
              </select>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Submit</button>
              <button type="reset" class="btn btn-secondary" ng-click="reset()">Reset</button>
            </div>
          </form><!-- End No Labels Form -->
        </div>
      </div>

    </div>

    <div class="col-xl-8">

      <div class="card">
        <div class="card-body pt-3">
          <!-- Bordered Tabs -->
          <ul class="nav nav-tabs nav-tabs-bordered">

            <li class="nav-item">
              <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#overview">Overview</button>
            </li>
            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#edit">Edit</button>
            </li>
            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#settings">Settings</button>
            </li>
          </ul>
          <div class="tab-content pt-2">

            <div class="tab-pane fade show active profile-overview" id="overview">
              <div class="col-lg-12" ng-show="isAuth()">

                <h5 class="card-title">Virtual private network</h5>
                <p>A virtual private network extends a private network across a public network and enables users to send
                  and
                  receive data across shared or public networks as if their computing devices were directly connected to
                  the
                  private network</p>

                <!-- Table with stripped rows -->
                <table class="table datatable">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Address</th>
                      <th scope="col">Location</th>
                      <th scope="col">Speed</th>
                      <th scope="col">Created</th>
                      <th scope="col"> </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat='vpn in vpns.rows track by vpn.id'>
                      <th scope="row">{{$index}}</th>
                      <td>{{vpn.address}}</td>
                      <td>{{vpn.server.location}}</td>
                      <td>{{vpn.server.speed}}</td>
                      <td>
                        <minutes-ago start-time="vpn.createdAt"></minutes-ago>
                      </td>
                      <td>
                        <button class="bi bi-question-circle btn" ui-sref="vpnCtrl({id:vpn.id})""></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <!-- End Table with stripped rows -->


              </div>

            </div>

            <div class=" tab-pane fade profile-edit pt-3" id="edit">

                          <!-- Profile Edit Form -->
                          <form>
                            <div class="row mb-3">
                              <label for="fullName" class="col-md-4 col-lg-3 col-form-label">First Name</label>
                              <div class="col-md-8 col-lg-9">
                                <input name="fullName" type="text" class="form-control" id="fullName"
                                  ng-model="profile.firstName">
                              </div>
                            </div>
                            <div class="row mb-3">
                              <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Last Name</label>
                              <div class="col-md-8 col-lg-9">
                                <input name="fullName" type="text" class="form-control" id="fullName"
                                  ng-model="profile.lastName">
                              </div>
                            </div>
                            <div class="row mb-3">
                              <label for="about" class="col-md-4 col-lg-3 col-form-label">About</label>
                              <div class="col-md-8 col-lg-9">
                                <textarea name="about" class="form-control" id="about" style="height: 100px"
                                  ng-model="profile.about"></textarea>
                              </div>
                            </div>
                            <div class="text-center">
                              <button type="submit" class="btn btn-primary" ng-click="updateProfile()">Save
                                Changes</button>
                            </div>
                          </form><!-- End Profile Edit Form -->

              </div>

              <div class="tab-pane fade pt-3" id="settings">
                <!-- Settings Form -->
                <form>
                  <div class="row mb-3">
                    <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Email
                      Notifications</label>
                    <div class="col-md-8 col-lg-9">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="changesMade" checked>
                        <label class="form-check-label" for="changesMade">
                          Changes made to your account
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                  </div>
                </form><!-- End settings Form -->
              </div>

              <div class="tab-pane fade pt-3" id="change-password">


              </div>

            </div><!-- End Bordered Tabs -->

          </div>
        </div>

      </div>
    </div>
</section>