<div class="table-title">
    <div class="row">
        <div class="col-sm-8">
            <div class="show-entries">
                <span>Show</span>
                <select ng-model="directive.model.pageSize" ng-change="directive.changePageSize()" value="10">
                    <option value="10" selected>10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <span>entries</span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="search-box">
                <div class="input-group mb-3"> <span class="input-group-text" id="basic-addon1">?</span>
                    <input type="text" class="form-control" placeholder="Search…" aria-label="Search…"
                        aria-describedby="basic-addon1" ng-model="directive.model.search" ng-change="directive.searchChange()">
                </div>
            </div>
        </div>
    </div>
</div>