<div class="pagetitle">
  <h1>CDNs</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item">Hosting</li>
      <li class="breadcrumb-item active">CDNs</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section profile">
  <div class="row">
    <div class="col-xl-4">
      <div class="card" ng-show="isAuth()">
        <div class="card-body">
          <h5 class="card-title">Create CDN</h5>

          <!-- No Labels Form -->
          <form class="row g-3">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="CDN Route" aria-label="CDN Route"
                aria-describedby="basic-addon2" id="route" ng-model="cdnModel.route">
            </div>
            <div class="input-group mb-3">
              <textarea class="form-control" ng-model="cdnModel.description" placeholder="CDN Description"></textarea>
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Repo branch" aria-label="Repo branch"
                aria-describedby="basic-addon2" id="route" ng-model="cdnModel.branch">
            </div>
            <div class="input-group mb-3" ng-show="cdnModel.repo=='NEW'">
              <input type="text" class="form-control" placeholder="Repo name" aria-label="Repo name"
                aria-describedby="basic-addon2" id="repoName" ng-model="cdnModel.repoName">
            </div>
            <div class="input-group mb-3">
              <select class="form-select" aria-label="Default select example" placeholder="Node"
                ng-model="cdnModel.repo" required>
                <option value="NEW">Create new repo</option>
                <option value="{{repo.id}}" ng-repeat='repo in repos.rows track by repo.id'>
                  {{repo.name}}</option>
              </select>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary" ng-click="create(cdnModel)">Submit</button>
              <button type="reset" class="btn btn-secondary" ng-click="reset()">Reset</button>
            </div>
          </form><!-- End No Labels Form -->

        </div>
      </div>

    </div>

    <div class="col-xl-8">

      <div class="card">
        <div class="card-body pt-3">
          <!-- Bordered Tabs -->
          <ul class="nav nav-tabs nav-tabs-bordered">

            <li class="nav-item">
              <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#overview">Overview</button>
            </li>
            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#edit">Edit</button>
            </li>
            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#settings">Settings</button>
            </li>
          </ul>
          <div class="tab-content pt-2">

            <div class="tab-pane fade show active profile-overview" id="overview">
              <div class="col-lg-12" ng-show="isAuth()">

                <h5 class="card-title">Domains</h5>
                <p>Innovative technology for fast, easy domain name system management. DNSimple focuses on DNS
                  management, and we offer a lot of tools most registrars don't have.</p>

                <!-- Table with stripped rows -->
                <table class="table datatable">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Route</th>
                      <th scope="col">Repo</th>
                      <th scope="col">Branch</th>
                      <th scope="col">Created</th>
                      <th scope="col"> </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat='cdn in cdns.rows track by cdn.id'>
                      <th scope="row">{{$index}}</th>
                      <td>{{cdn.vHost}}</td>
                      <td>{{cdn.repo.url}}</td>
                      <td>{{cdn.branch}}</td>
                      <td>
                        <minutes-ago start-time="cdn.createdAt"></minutes-ago>
                      </td>
                      <td>
                        <button class="bi bi-question-circle btn" ui-sref="cdnCtrl({id:cdn.id})""></button>
                            <button class=" bi bi-journal-text btn"></button>
                        <button class="bi bi-journal-text btn"></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <!-- End Table with stripped rows -->


              </div>

            </div>

            <div class=" tab-pane fade profile-edit pt-3" id="edit">

              <!-- Profile Edit Form -->
              <form>
                <div class="row mb-3">
                  <label for="fullName" class="col-md-4 col-lg-3 col-form-label">First Name</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="fullName" type="text" class="form-control" id="fullName" ng-model="profile.firstName">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Last Name</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="fullName" type="text" class="form-control" id="fullName" ng-model="profile.lastName">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="about" class="col-md-4 col-lg-3 col-form-label">About</label>
                  <div class="col-md-8 col-lg-9">
                    <textarea name="about" class="form-control" id="about" style="height: 100px"
                      ng-model="profile.about"></textarea>
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary" ng-click="updateProfile()">Save
                    Changes</button>
                </div>
              </form><!-- End Profile Edit Form -->

            </div>

            <div class="tab-pane fade pt-3" id="settings">
              <!-- Settings Form -->
              <form>
                <div class="row mb-3">
                  <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Email
                    Notifications</label>
                  <div class="col-md-8 col-lg-9">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="changesMade" checked>
                      <label class="form-check-label" for="changesMade">
                        Changes made to your account
                      </label>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
              </form><!-- End settings Form -->
            </div>

            <div class="tab-pane fade pt-3" id="change-password">


            </div>

          </div><!-- End Bordered Tabs -->

        </div>
      </div>

    </div>
  </div>
</section>